h1 {
  color: green;

  font-style: italic;
}
.notification {
  color: #000000;
  background: #f0f0f0;
  font-size: 20px;
  border: 3px solid green;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
